<div class="row container">

  <div class="col-xs-12">
    <h1>Recipe for Survival</h1>
    <label for="new_user">Enter New User:</label>
    <form name="new_user" action="/new_user" method="post">
      <input type="text" name="new_user" id="new_user">
      <button class="btn" type="submit">New User</button>
    </form>

  </div>

</div>

<div class="row container">

  <div class="col-xs-12">

  </div>

  <div class="col-xs-12">
    <% if @users %>
    <ul class="list-group">
      <% @users.each() do |user| %>
        <li class="list-group-item"> <a href="/users/<%= user.id%>"><%= user.name %></a>
          <form class="" action="/users/<%= user.id %>" method="post">
            <input name="_method" type="hidden" value="delete">
            <button class="btn btn-danger btn-sm" type="submit">Delete</button>
          </form>
        </li>
      <% end %>
    <% end %>
  </div>

</div>
