<div class="row container">
  <div class="col-xs-3">

  </div>
  <div class="col-xs-6">
    <label for="new_user">Enter New User:</label>
    <form name="new_user" action="/new_user" method="post">
      <input id="newUserForm" type="text" name="new_user" id="new_user">
      <button class="btn btn-primary" type="submit">New User</button>
    </form>
  </div>

</div>

<div class="row container">

  <div class="col-xs-3">

  </div>

  <div class="col-xs-6">
    <% if @users %>
    <ul class="list-group">
      <% @users.each() do |user| %>
        <li id="indexCol" class="list-group-item"> <a href="/users/<%= user.id%>"><%= user.name %></a>
          <form class="" action="/users/<%= user.id %>" method="post">
            <input name="_method" type="hidden" value="delete">
            <button class="btn btn-danger btn-sm" type="submit">Delete</button>
          </form>
          <% if user.high_score %>
            <h4>Longest Survival: <%= user.high_score %> Days</h4>
          <% end %>
        </li>
      <% end %>
    <% end %>
    </ul>
  </div>

</div>
